.bs-btn {
  padding: 0 1rem;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-family: $font-default;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  + .bs-button {
    margin-left: 10px;
  }

  &--blue {
    background-color: $color-blue;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);

    &:hover:not(:active) {
      background-color: $color-blue-dark;
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
    }

    &:active {
      background-color: $color-blue-light;
    }
  }

  &--small {
    font-size: 0.75rem;
    height: 33px;
    line-height: 1rem;
  }
}
